<div class="company-logo">
  <img *ngIf="logo" [src]="logo" alt="company-logo" />
</div>
<div class="grid">
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    [showNavigationArrows]="false"
    data-bs-ride="true"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img [src]="bannerImages[0]" alt="Random first slide" class="banner" />
      </div>
      <div class="carousel-item">
        <img [src]="bannerImages[1]" alt="Random second slide" class="banner" />
      </div>
      <div class="carousel-item">
        <img [src]="bannerImages[2]" alt="Random third slide" class="banner" />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div>
    <form [formGroup]="otpForm">
      <p class="login">Login</p>
      <p class="pleaseEnter">Please enter your registered business number</p>
      <br />
      <p class="mobileNumber">Enter Mobile Number</p>
      <div class="input-box">
        <span class="prefix">+91</span>
        <input
          type="tel"
          maxlength="10"
          formControlName="phone"
          [ngModel]="mobileNumber"
          (change)="otp($event)"
          [class]="'error-box'"
        />
      </div>
      <div
        *ngIf="
          otpForm.get('phone')?.touched &&
          otpForm.get('phone')?.hasError('required')
        "
        class="error-text"
      >
        <span> Mobile No is a required field </span>
      </div>

      <div
        *ngIf="
          otpForm.get('phone')?.touched &&
          otpForm.get('phone')?.hasError('phone')
        "
        class="error-text"
      >
        <span> Invalid phone</span>
      </div>
    </form>

    <br />
    <p class="byContinuin">
      By continuing, you agree to our <a href="/">Terms of Use</a> and
      <a href="/">Privacy Policy</a>
    </p>

    <br />

    <div class="verifyButton">
      <button
        class="verifOTP"
        [disabled]="this.otpForm.get('phone')?.errors"
        [ngStyle]="{
          'background-color': !this.otpForm.get('phone')?.errors
            ? '#4B70F1'
            : '#C4C4C4'
        }"
        routerLink="/login"
      >
        GET OTP
      </button>
    </div>
  </div>
</div>
