img.arrow1 {
  width: 20.8px;
  height: 18.91px;
}
.top-sec {
  margin-top: 20px;
}
img.arrow1 {
  margin-left: 30px;
}

.title-text {
  margin-left: 20px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
  position: relative;
  bottom: 7px;
  height: 47px;
}

button.btn1 {
  background: #4B70F1;
  border-radius: 25px;
  height: 50px;
  width: 194px;
  border-color: #4B70F1;
  margin-left: 14px;
  position: relative;
  bottom: 10px;

}

.buttonA {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
}

.cancelBtn {
  margin-left: 541px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  position: relative;
  top: 2px;
height: 47px;
  color: #5D5D5A;
  margin-right: 42px;
}

.mainForm{
  margin-left: auto !important;
    margin-right: auto !important;
    width: 731px;
    background: #FFFFFF;
    border-radius: 4px;
    margin: 50px 160px 50px 160px;
    padding-bottom: 17px;
}


.cus-inpt {
  padding: 24px 40px 24px 40px;
  display: grid;

  label {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: #525252;
      padding-bottom: 8px;
  }

  input[type=text] {
      border: 0.3px solid #848484;
      border-radius: 4px;
      height: 48px;
  }
}


.btnFirst {
  box-sizing: border-box;
  position: relative;
  bottom: 9px;
  border: 1px solid #4B70F1;
  border-radius: 25px;
  width: 148px;
height: 50px;
  background: #ffffff;
  color:#4B70F1 ;
}


input.hightw {
  height: 125px !important;
}


.cus-box {
  margin-right: 15px;
}

.box {
  background: #EDF0F3;
  border-radius: 8px;
  width: 119px;
  height: 119px;

  .box-text {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      text-align: center;
      color: #000000;
      padding: 41px 33px 40px 32px;
  }
}
span.fontsA {
  margin-bottom: 6px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #525252;
}



.can-btn {
  background: none;
  border: none;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #5D5D5A;
  cursor: pointer;
}

.save-btn {
  background: #FFFFFF;
  border: 1px solid #4B70F1;
  border-radius: 25px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #4B70F1;
  padding: 16px 30px;
  width: 148px;
  cursor: pointer;
}

.pcd-btn {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  background: #4B70F1;
  border-radius: 25px;
  color: #FFFFFF;
  padding: 16.5px 29px;
  border: none;
  width: 194px;
  margin-left: 14px;
  cursor: pointer;
}


button.can-btn {
  margin-left: 335px;
  margin-right: 14px;
  width: 252px;
  border: 1px solid #C4C4C4;
  border-radius: 25px;
}

img.topp {
  position: relative;
  bottom: 43px;
  left: 6px;
}
.actions{
  margin-bottom: 69px !important;
}

span.fontsB {
  margin-left: 490px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #525252;
}
