<div class="top-sec" style="display:flex">
  <img class="arrow1" style="cursor:pointer" routerLink="/dashboard/notification" src="assets/left-arrow.svg" />
  <div class="title-text">Create Notification</div>
  <div class="cancelBtn">Cancel</div>
  <div style=" height: 50px;">
    <button class="btnFirst" mat-flat-button>End Now</button>
  <button class="btn1" mat-flat-button><div class="buttonA">Schedule for later</div></button>
</div>
</div>


<div class="mainForm">
  <div class="cus-inpt">
    <label >Send To</label>
  </div>

  <div class="cus-inpt">
    <div style="display: flex;">
    <span class="fontsA">Search Seller</span> <span class="fontsB">Type</span>
  </div>
    <input  type="text" />
    <img class="topp" src="assets/innertext.svg">
</div>
</div>


<div class="mainForm">

  <div class="cus-inpt">
    <label >Notification</label>
  </div>

  <div class="cus-inpt">
    <span class="fontsA">Heading</span>
    <input  type="text" />
</div>
<div class="cus-inpt">
  <span class="fontsA">Description</span>
  <input class="hightw"  type="text" />
</div>
<div class="cus-inpt">
  <span class="fontsA">CTA</span>
  <input  type="text" />
</div>



<div class="cus-inpt">
  <span class="fontsA">Store Logo</span><br>
    <div class="box">
      <div class="box-text">Add Image</div>
  </div>
</div>





</div>

<div class="actions" style="display: flex;">
  <button class="can-btn">Cancel</button>
  <button class="save-btn">Send Now</button>
  <button class="pcd-btn"  >Schedule for later</button>
</div>
