// span.ins{
//   width: 91px;
// height: 33px;
// left: 282px;
// top: 108px;

// font-family: 'Open Sans';
// font-style: normal;
// font-weight: 600;
// font-size: 24px;
// line-height: 33px;
// /* identical to box height */


// color: #333333;
// }

// span.td{
//   width: 46px;
// height: 22px;
// left: 393px;
// top: 113px;

// font-family: 'Open Sans';
// font-style: normal;
// font-weight: 400;
// font-size: 16px;
// line-height: 140%;
// /* or 22px */

// text-align: right;

// /* Neutral Color/Body Text 2 */

// color: #54594E;
// }

// img.arr{
//   left: 87.5%;
// right: -23.21%;
// top: 31.25%;
// bottom: -10%;

// }

// .stockDiv{
//   padding:10px 1rem 0 26px;
// }
// span.td {
//   margin-left: 16px;

// }

// img.arr {
//   margin-left: 16px;
// }

// mat-card.mat-card.mat-focus-indicator.example-card {
//   width: 300px;
//   height: 72px;
//   margin-top: 10px;
// }

// .all {
//   gap: 21px;
// }




// span.topMsg {
//   width: 97px;
//   height: 22px;

//   font-family: 'Open Sans';
//   font-style: normal;
//   font-weight: 600;
//   font-size: 16px;
//   line-height: 22px;
//   letter-spacing: 0.2px;
//   color: #979797;
// }

// span.bottomMsg {
//   width: 55px;
//   height: 44px;

//   font-family: 'Open Sans';
//   font-style: normal;
//   font-weight: 600;
//   font-size: 32px;
//   line-height: 44px;
//   text-align: right;
//   text-transform: uppercase;
//   color: #333333;


//       position: relative;
//       left: 190px;
//       top: 7px;

// }

// span.bottomMsg2{
//   width: 55px;
//   height: 44px;

//   font-family: 'Open Sans';
//   font-style: normal;
//   font-weight: 600;
//   font-size: 32px;
//   line-height: 44px;
//   text-align: right;
//   text-transform: uppercase;
//   color: #333333;
//   position: relative;
//   bottom: 15px;
//   left: 190px;

// }


// span.middle1 {
//   width: 139px;
//   height: 33px;

//   font-family: 'Open Sans';
//   font-style: normal;
//   font-weight: 600;
//   font-size: 24px;
//   line-height: 33px;
//   color: #333333;
// }

// span.middle2 {
//   width: 42px;
//   height: 22px;
//   left: 428px;
//   top: 282px;
//   font-family: 'Open Sans';
//   font-style: normal;
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 22px;
//   color: #404040;
// }

// .middle {
//   margin-top: 4px;
// }

// img.middle3 {
//   position: relative;
//   top: 15px;
//   left: 587px;
// }

// span.middle31 {

//   bottom: 71.1%;
//   font-family: 'Open Sans';
//   font-style: normal;
//   font-weight: 600;
//   font-size: 16px;
//   line-height: 22px;
//   color: #FFFFFF;
//   position: relative;
//   left: 421px;
//   top: -3px;
// }
.all{
  box-sizing: border-box;
  position: relative;
  top: 40px;
  width: 1200px;
  background: #FFFFFF;
  border: 1px solid #E7E8E5;
  border-radius: 6px;
  left: 40px;
}
.topThings{


    margin-left: 38px;
}
span.head{
width: 103px;
height: 27px;
position: relative;
    left: 18px;
    top: 5px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
letter-spacing: 0.2px;
text-transform: uppercase;

color: #5D5D5A;
}
mat-card{

  width: 300px;
  height: 192px;

}
span.topMsg{

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
width:127px;
height:24px;

position: relative;
left: 6px;;

color: #2D3964;
}
.card-header {
  padding: 1rem;
  gap: 1rem;
}
img.image-top1 {
  position: relative;
  top: 44px;
  right: 20px;
}
img.image-top2 {
  position: relative;
  top: 17px;
  right: 16px;
}
.example-card-cart{
    /* position: absolute; */
    width: 510px;
    height: 179px;
    /* left: 1026px; */
    /* top: 236px; */
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 16%);
    border-radius: 4px;
}

span.bottomMsg {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 68px;
  text-align: right;
  color: #2D3964;
}
span.bottomMsg {
  position: relative;
  top: 47px;
  left: 10px;


}
span.bottomNum{
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 68px;
  text-align: right;
  color: #2D3964;
  position: absolute;
  left: 190.5px;
  top: 92px;


}
span.bottom {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 68px;
  text-align: right;
  color: #2D3964;
  position: relative;
  top: 50px;
  left: 40px;
}
mat-card.mat-card.mat-focus-indicator.example-card {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 16%);
  border-radius: 4px;
}
span.top{
  width:191px;
  height:24px;
  position: relative;
  left: 48px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


color: #2D3964;
}
img.load{
  width: 80px;
height: 80px;

  position: relative;
  left: 20px;
  top: 20px;
}
span.ins{
width: 128px;
height: 33px;
position: relative;
width: 128px;
height: 33px;
bottom: 4px;
top: 22px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 33px;
/* identical to box height */


color: #333333;
}

//table Css

table{
  width: 852px;
  height:380px;

  margin-top: 32px;
  margin-left: 22px;
  position: relative;
    top: 33px;
    border: 1px solid #EAEAE8;
    border-radius: 6px;



}
.tableHead{
  box-sizing: border-box;
  position: relative;
  top: 48px;
  padding-bottom: 56px;
  background: #FFFFFF;
  border: 1px solid #E7E8E5;
  border-radius: 6px;
  width: 882px;
  left: 22px;
  height: 550px;

}
.table-head{
  position: relative;
  top: 33px;
  left: 23px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
letter-spacing: 0.2px;
text-transform: uppercase;

color: #5D5D5A;
}
.grid1 {
  margin-left: 16px;
}
.grid {
  padding-right: 20px;
}
tr.mat-header-row.cdk-header-row.ng-star-inserted {
  background: #EAEAE8;
}
span.tableTitle {

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;

  display: flex;
  align-items: center;
  letter-spacing: 0.1px;
  color: #616161;
}
span.proInfo {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;
  color: #5A7EB5;
}
span.proInfo2 {

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;
  color: #5D5D5A;
}
span.proInfo3{
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
/* or 143% */

display: flex;
align-items: center;
letter-spacing: 0.1px;

color: #F38E03;

}
span.day {
  position: relative;
  top: 30px;
  left: 566px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: right;
  color: #54594E;
}
mat-card.mat-card.mat-focus-indicator.example-card-top {
  position: relative;
  top: 49px;
  height: 344px;
  width: 288px;
  left: 51px;

}
span.topMsg1 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #5D5D5A;
  position: relative;
    top: 12px;
    left: 23px;

}
img.pic {

    position: relative;
    top: 45px;
    left: 10px;
    margin-bottom: 16px;

}
span.name {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* display: flex; */
  align-items: center;
  letter-spacing: 0.1px;
  color: #5D5D5A;
  position: relative;
    left: 32px;
    top: 36px;

}
span.order {
  position: relative;
  top: 37px;
  left: 86px;

}
span.order {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* display: flex; */
  /* align-items: center; */
  letter-spacing: 0.1px;
  color: #A2A49B;
}
button.btn3 {
  box-sizing: border-box;
  /* position: absolute; */
  width: 173px;
  height: 48px;
  /* left: 1405px; */
  /* top: 123px; */
  background: #FFFFFF;
  border: 1px solid #E8EAE4;
  border-radius: 9px;
  position: relative;
  left: 900px;
  top: 30px;
}
img.high3 {
  position: relative;
  right: 22px;
}
span.middle33 {
  position: relative;
  right: 13px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #5D5D5A;
}
img.high5 {
  position: relative;
  left: 14px;
}
.example-container {
    width: 100%;
    height: 100%;
    margin: 10px;

  }

  img.lo {
    position: relative;
    right: 19px;
}


span.order1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #A2A49B;
  position: relative;
  left: 100px;
  top: 36px;
}


span.order2 {
  position: relative;
  left: 113px;
  top: 36px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #A2A49B;
}

span.order3{

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #A2A49B;
  position: relative;
    left: 106px;
    top: 34px;
}


.all {
  padding-right: 12px;
}
img.image-top {
  position: relative;
  top: 44px;
  right: 16px;
}
span.bottomMsg2 {
  margin-left: 96px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #2D3964;
    position: relative;
    bottom: 10px;
}
span.numbers {
  position: relative;
  bottom: 28px;
  left: 136px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #2D3964;
}
span.bottomMsg21 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #2D3964;
  position: relative;
  bottom: 14px;
}
span.number {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #2D3964;
  margin-left: 138px;
}
