span.top-name {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
  position: relative;
  top: 16px;
  left: 38px;
}
span.top-head {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: right;
  color: #54594E;
  position: relative;
  top: 12px;
  left: 54px;
}
mat-card.mat-card.mat-focus-indicator.example-card {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 16%);
  border-radius: 4px;
  position: relative;
  top: 38px;
  left: 40px;
  width: 400px;
  height: 88px;
}
.card-head {
  gap: 16px;
}
img.picture {
  position: relative;
  top: 11px;
  left: 65px;
}
span.card-top {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #979797;
}
span.side-card {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  text-align: right;
  text-transform: uppercase;
  color: #333333;
  position: relative;
  left: 310px;
}
span.side-card1 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  text-align: right;
  text-transform: uppercase;
  color: #333333;
  position: relative;
  left: 210px;
}
.top-heading {
  margin-top: 64px;
}
span.side-heading {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
  position: relative;
  left: 38px;
}
span.side-head-number {
    font-family: 'Open Sans';
    font-style: normal;
    /* font-weight: 600; */
    font-size: 16px;
    line-height: 33px;
    color: #333333;
    position: relative;
    left: 40px;
}
button.mat-focus-indicator.btn2.mat-flat-button.mat-button-base {
  margin-left: 53rem;
  margin-right: 20px;
}
button.mat-focus-indicator.btn2.mat-flat-button.mat-button-base {
  background: #FFFFFF;
  border: 1px solid #E8EAE4;
  border-radius: 9px;
  width: 108px;
  height: 48px;
}
button.mat-focus-indicator.btn3.mat-flat-button.mat-button-base {
  background: #FFFFFF;
  border: 1px solid #E8EAE4;
  border-radius: 9px;
  width: 173px;
  height: 48px;
}
span.middle32 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #5D5D5A;
}
img.high2 {
  margin-right: 12px;
}
span.middle33 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #5D5D5A;
}
img.high3 {
  position: relative;
  right: 16px;
}
img.high5 {
  position: relative;
  left: 16px;
}
table.mat-table.cdk-table {
  background: #FFFFFF;
  border: 1px solid #E7E8E5;
  border-radius: 6px 6px 0px 0px;
  position: relative;
  left: 40px;
  width: 1234px;
}
.grid {
  margin-top: 24px;
}
tr.mat-header-row.cdk-header-row.ng-star-inserted {
  background: #ECF0F3;
  border-radius: 6px 6px 0px 0px;
}
span.tableTitle {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  color: #616161;
}
span.proInfo {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #5D5D5A;
}
span.proInfo2 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #5D5D5A;

}
td.mat-cell.cdk-cell.cdk-column-check.mat-column-check.ng-star-inserted {
  height: 86px;
}

button.mat-focus-indicator.btnOrder.mat-flat-button.mat-button-base {
  width: 241px;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid #E8EAE4;
  border-radius: 6px;
  margin-top: 19px;
}
th.mat-header-cell.cdk-header-cell.statusth.cdk-column-status.mat-column-status.ng-star-inserted {
  width: 0px;
}

img.high6 {
  position: relative;
  left: 215px;
  bottom: 31px;
}

input.marginCheckbox {
  width: 20px;
  height: 20px;
}

select.orderStatus {
  width: 241px;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid #E8EAE4;
  border-radius: 6px;
  cursor: pointer;
}

.status1{
  font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
color: #5D5D5A;
}

.orderStatus
{ color: #5D5D5A;
  font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
}
