span.ins {
  width: 91px;
  height: 33px;
  left: 282px;
  top: 108px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */

  color: #333333;
}

span.td {
  width: 46px;
  height: 22px;
  left: 393px;
  top: 113px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  text-align: right;

  /* Neutral Color/Body Text 2 */

  color: #54594e;
}

img.arr {
  left: 87.5%;
  right: -23.21%;
  top: 31.25%;
  bottom: -10%;
}

.stockDiv {
  padding: 10px 1rem 0 26px;
}
span.td {
  margin-left: 16px;
}

img.arr {
  margin-left: 16px;
}

mat-card.mat-card.mat-focus-indicator.example-card {
  width: 400px;
  height: 101px;
  margin-top: 10px;
}

.all {
  gap: 21px;
}

span.proInfo {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #5d5d5a;
  position: relative;
  // bottom: 27px;
  left: 20px;
}

span.proInfo2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #5d5d5a;
}

td.mat-cell.cdk-cell.cdk-column-product.mat-column-product.ng-star-inserted {
  padding: 18px;
}

img.act {
  position: relative;
  left: 8px;
}

span.topMsg {
  width: 97px;
  height: 22px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #979797;
}

span.bottomMsg {
  width: 55px;
  height: 44px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  text-align: right;
  text-transform: uppercase;
  color: #333333;

  position: relative;
  left: 300px;
  top: 7px;
}

span.bottomMsg2 {
  width: 55px;
  height: 44px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  text-align: right;
  text-transform: uppercase;
  color: #333333;
  position: relative;
  left: 300px;
  top: 7px;
}

span.middle1 {
  width: 139px;
  height: 33px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
}

span.middle2 {
  width: 42px;
  height: 22px;
  position: relative;
  right: 60px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #404040;
}

.middle {
  display: flex;
  margin-top: 8px;
}

img.middle3 {
  position: relative;
  top: 15px;
  left: 587px;
}

span.middle31 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}
table {
  width: 100%;
}

th {
  background: #ecf0f3;
}

img.prodPic {
  border-radius: 4px;
}

span.tableTitle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  color: #616161;
}

button.mat-focus-indicator.btn2.mat-flat-button.mat-button-base {
  position: relative;
  width: 108px;
  height: 48px;

  background: #ffffff;
  border: 1px solid #e8eae4;
  border-radius: 9px;
  left: 578px;
  top: 6px;
}

img.high2 {
  position: relative;
  right: 8px;
}

img.high3 {
  /* transform: matrix(0, -1, -1, 0, 0, 0); */
  position: relative;
  right: 21px;
}

img.high1 {
  position: relative;
  left: 15px;
}
// ul.dropdown-menu.show {
//     width: 222px;
//     height: 141px;
//     background: #FFFFFF;
// box-shadow: 0px 2px 16px rgba(16, 30, 115, 0.1);
// border-radius: 9px;
// }

button.mat-focus-indicator.btn1.mat-flat-button.mat-button-base {
  width: 156px;
  height: 48px;
  position: relative;
  left: 564px;
  top: 6px;
  background: #4b70f1;
  border-radius: 9px;
  margin-left: 26px;
}

span.middle32 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #5d5d5a;
  position: relative;
  left: 4px;
}

button.mat-focus-indicator.btn3.mat-flat-button.mat-button-base {
  width: 173px;
  height: 48px;

  background: #ffffff;
  border: 1px solid #e8eae4;
  border-radius: 9px;
  position: relative;
  left: 592px;
  top: 6px;
}

span.middle33 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #5d5d5a;
  position: relative;
  right: 13px;
}

img.high4 {
  /* border: 1px solid #E8EAE4; */
  position: relative;
  right: 8px;
}

img.high5 {
  position: relative;
  left: 12px;
}

// span {
//     font-family: 'Open Sans';
//     font-style: normal;
//     font-weight: 600;
//     font-size: 16px;
//     line-height: 22px;
//     color: #5D5D5A;
// }
span.ADrop {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #5d5d5a;
}

span.BDrop {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #5d5d5a;
}

// a.dropdown-item {
//     padding-top: 24px;
//     padding-left: 34px;
// }

img.highA {
  position: relative;
  left: 14px;
}

img.ActionImg {
  margin-right: 20px;
}
span.middle2 {
  margin-top: 7px;
}

.stockDiv {
  width: 1278px;
}

img.prodPic {
  width: 54.7px;
  height: 54.5px;
}
td.mat-cell.cdk-cell.cdk-column-businessName.mat-column-businessName.ng-star-inserted {
  display: grid;
  align-items: center;
  grid-template-columns: 0.5fr 1fr;
  height: 100px;
}

input.marginCheckbox {
  width: 20px;
  height: 20px;
}

a.dropdown-item {
  padding: 14px 0px 14px 24px !important;
}
