span.middle1 {
  width: 139px;
  height: 33px;
  margin-left: 28px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
}
button.mat-focus-indicator.btn2.mat-flat-button.mat-button-base {
  position: relative;
  width: 108px;
  height: 48px;

  background: #FFFFFF;
  border: 1px solid #E8EAE4;
  border-radius: 9px;
  left: 578px;
  top: 6px;
}


button.mat-focus-indicator.btn1.mat-flat-button.mat-button-base {
  width: 214px;
  height: 48px;
  position: relative;
  left: 564px;
  top: 6px;
  background: #4B70F1;
  border-radius: 9px;
  margin-left: -68px;
  margin-top: 20px;
}

button.mat-focus-indicator.btn3.mat-flat-button.mat-button-base {
  width: 173px;
  height: 48px;

  background: #FFFFFF;
  border: 1px solid #E8EAE4;
  border-radius: 9px;
  position: relative;
  left: 592px;
  top: 6px;
}

span.middle33 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #5D5D5A;
  position: relative;
  right: 13px;
}

img.high4 {
  position: relative;
  right: 8px;
}
img.high2 {
  position: relative;
  right: 8px;
}

img.high3 {
  position: relative;
  right: 21px;
}


span.middle32 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #5D5D5A;
  position: relative;
  left: 4px;
}


span.middle31 {


  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;

}


.grid {
  margin-top: 36px;
  margin-left: 28px;
  margin-bottom: 24px;
  /* width: 1308px; */
}



span.tableTitle {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  color: #616161;
}


table.mat-table.cdk-table.tables {
  width: 1238px;

}

td.mat-cell.cdk-cell.cdk-column-businessName.mat-column-businessName.ng-star-inserted {
  height: 82px;
  }

  input.marginCheckbox {
  width:
  20px
  ;
  height:
  20px
  ;
  }

  img.ActionImg {
    margin-right: 20px;
  }

  td.mat-cell.cdk-cell.cdk-column-product.mat-column-product.ng-star-inserted {
    padding: 18px;
  }
  th{
    background: #ECF0F3;
  }

  span.proInfo {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #5D5D5A;
    position: relative;
    // bottom: 27px;
    left: 20px;
  }

  span.proInfo2{
    font-family: 'Open Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: #5D5D5A;
    }

    td.mat-cell.cdk-cell.cdk-column-notificationId.mat-column-notificationId.ng-star-inserted {
      height: 5rem;
  }
  span.lineC {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #80807F;
}

span.lineB{
  font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}


a.dropdown-item {
  padding: 16px 0px 16px 24px !important;
  }
