// // .sidenav{
// //   height:100%;
// //   width:230px;
// //   display: block;
// //   box-shadow: 0 0 45px 0 rgba(0,0,0,.6);
// //   margin-right: 15px;
// //   border-radius: 5px;
// //   transition: .5s cubic-bezier(.685,.0473,.346,1);
// // }

// .logo{
//   position: relative;
//   padding: 1rem 0.7rem;
//   z-index: 4;
// }

// // .logo a.logo-mini{
// //   opacity:1;
// //   float:left;
// //   width:34px;
// //   text-align: center;
// //   margin-left: 10px;
// //   margin-right: 12px;
// // }
// // .logo a.logo-normal{
// //   display:block;
// //   opacity: 1;
// //   -webkit-transform: translate3d(0px, 0, 0);
// //   -moz-transform:translate3d(0px, 0, 0);
// //   -o-transform:translate3d(0px, 0, 0) ;
// //   -ms-transform: translate3d(0px, 0, 0);
// //   transform: translate3d(0px, 0, 0);
// // }

// .nav li>a img{
//   width: 20px;
//   margin-right: 10px;
//   font-size: 1.125rem;

// }
// // .nav li>a:hover, .nav li>a:hover img{
// //   // color:rgba(255,255,255,1);
// //   transition: all 0.3 ease 0s;
// // }
// // .nav li.active>a:before{
// //     content: " ";
// //     position: absolute;
// //     height: 6px;
// //     width: 6px;
// //     top: 17px;
// //     left: -2px;
// //     background: #fff;
// //     border-radius: 50%;
// // }
// // .logo .simple-text{
// //   text-transform: uppercase;
// //   padding: 0.5rem 0;
// //   display: block;
// //   white-space: nowrap;
// //   // color:#ffffff;
// //   text-decoration: none;
// //   font-weight: 400;
// //   line-height: 30px;
// //   overflow: hidden;
// // }
// // .logo-img img{
// //   width: 35px;
// // }
// // .nav li>a{
// //   margin:10px 15px 0;
// //   border-radius: 30px;
// // // color: rgba(255,255,255, .8);
// // width: 200px;
// // display: block;
// // text-decoration: none;
// // position: relative;
// // text-transform: uppercase;
// // cursor:pointer;
// // font-size: .75rem;
// // font-weight: 300;
// // padding: 1.5rem;
// // transition: all .3s ease 0s;

// // }
// // .logo:after {
// //   content:'';
// //   position:absolute;
// //   bottom:0;
// //   right:15px;
// //  height:1px;
// //  width:calc(100% - 30px);
// //   background: rgba(255,255,255,0.5);
// // }

// .sidenav{

// width: 244px;

// background: #FFFFFF;
// }
// // .logo-img{
// //   position: absolute;
// //   display: flex;
// // width: 52px;
// // height: 55px;
// // left: 13px;
// // top: 18px;

// // }
// .simple-text{
//   position: absolute;
//   width: 83px;
//   height: 36px;
//   left: 75px;
//   top: 28px;

//   font-family: 'Open Sans';
//   font-style: normal;
//   font-weight: 600;
//   font-size: 18px;
//   line-height: 102.1%;
//   /* or 18px */

//   color: #575B5F;
// }
// // .nav{
// //   position: absolute;
// // width: 244px;
// // height: 78px;
// // left: 0px;
// // top: 92px;

// // background: rgba(75, 112, 241, 0.1);
// // }

// li.active{

// width: 244px;
// height: 78px;
// left: 0px;
// top: 92px;

// background: rgba(75, 112, 241, 0.1);
// }

.simple-text {
  position: absolute;
  width: 83px;
  height: 36px;
  left: 75px;
  top: 28px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 102.1%;
  color: #575b5f;
}
.logo-image {
  display: grid;
  justify-items: center;
  padding: 15px 0;
}

ul {
  list-style-type: none;
}
.sidenav {
  /* position: relative; */
  width: 232px;
  height: auto;
  /* height: auto; */
  background: #ffffff;
}

ul.nav {
  position: absolute;
  left: 0px;
  top: 78px;
  padding: 0px;
  cursor: pointer;
}
img.iconA {
  position: relative;
  width: 23.45px;
  top: -2px;
  height: 24.45px;
  right: 16px;
}

span {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #494b43;
  width: 74px;
  height: 22px;
  left: 75px;
  top: 196px;
  margin-left: -10px;
}

.active {
  background: rgba(75, 112, 241, 0.1);
  span {
    color: #4b70f1 !important;
  }
}

li {
  padding: 24px 0 29px 54px;
  width: 232px;
}

li.downB {
  margin-top: 123px;
}

.company-logo {
  height: 52px;
}
