
<div class="row">
  <div class="top-headers">
    <span class="head">Support</span>
    <div class="dropdown">
      <button
        class="btn"
        mat-flat-button
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img class="high" src="assets/support/Options.svg" />
        <span class="middle"> Add a Query </span>
      </button>

      <!-- <ul class="dropdown-menu">
        <li ><a class="dropdown-item" href="#"><img style="margin-right: 1rem;" > <span class="ADrop">Add Manually</span></a></li>
        <li><a class="dropdown-item" href="#"> <img style="margin-right: 1rem;"><span class="BDrop">Bulk Add by CSV</span></a></li>

      </ul> -->
    </div>
  </div>
  <div class="table-head" style="display: flex">
    <div class="table">
      <span class="top">My Queries</span>
      <div class="header">
        <div class="text" style="display: flex">
          <span class="number">#6392</span>
          <span class="order">Payment not working</span>
          <span class="date">24 Apr 2022</span>
        </div>
        <span class="state"
          >Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam...</span
        >
      </div>
      <div class="header">
        <div class="text" style="display: flex">
          <span class="number">#6392</span>
          <span class="order">Payment not working</span>
          <span class="date">24 Apr 2022</span>
        </div>
        <span class="state"
          >Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam...</span
        >
      </div>
      <div class="header">
        <div class="text" style="display: flex">
          <span class="number">#6392</span>
          <span class="order">Payment not working</span>
          <span class="date">24 Apr 2022</span>
        </div>
        <span class="state"
          >Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam...</span
        >
      </div>
      <div class="header">
        <div class="text" style="display: flex">
          <span class="number">#6392</span>
          <span class="order">Payment not working</span>
          <span class="date">24 Apr 2022</span>
        </div>
        <span class="state"
          >Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam...</span
        >
      </div>
    </div>




    <div class="side-card">
      <div class="head-top" style="display: flex">
        <div class="head-top1">
          <img src="assets/support/Ellipse 6056.svg" />
          <span class="sub">Subject:</span>
          <span class="Lorem">Lorem ipsum doler</span>
        </div>
        <div class="dates">
          <span>24 Apr 2022</span>
          <span style="margin-left: 18px">14:56</span>
        </div>
      </div>
      <div class="top-head">
        <span class="help">To:</span>
        <span class="support">Customer Support</span>
      </div>
      <div class="wordlength">
        <span>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
          ab illo inventore veritatis et quasi architecto beatae vitae dicta
          sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
          aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
          qui ratione voluptatem sequi nesciunt.
        </span>
      </div>

      <div class="head-top" style="display: flex; margin-top: 41px">
        <div class="head-top1">
          <img src="assets/support/Ellipse 6056.svg" />
          <span class="sub">Subject:</span>
          <span class="Lorem">Lorem ipsum doler</span>
        </div>
        <div class="dates">
          <span>24 Apr 2022</span>
          <span style="margin-left: 18px">14:56</span>
        </div>
      </div>
      <div class="top-head">
        <span class="help">To:</span>
        <span class="support">Me</span>
      </div>
      <div class="wordlength">
        <span>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
          ab illo inventore veritatis et quasi architecto beatae vitae dicta
          sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
          aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
          qui ratione voluptatem sequi nesciunt.
        </span>
      </div>
    </div>
  </div>
