<div class="toolbar">
  <div></div>
  <div class="toolB">
    <img class="pic1" src="assets/Group 5390.svg" />
    <span *ngIf="name">{{ name }}</span>
    <div class="btn-group">
      <button
        type="button"
        class="btn dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img class="pic2" src="assets/Group 5503.svg" />
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
